@model order_and_sales_management_ver1.Models.OrderModel

@{
    ViewData["Title"] = "Liste";
}
<div class="panel-info">
    <h1>Sipariş Yükleme Ekranı</h1>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>
<form>
        <div class="col-md-12">
            <div id="entryForm">
                <h4>SİPARİŞ FİŞİ</h4>
                <div class="row">
                    <div class="col-md-1">
                        <input asp-for="orderID" id="orderID" class="form-control" readonly />
                    </div>
                    <div class="col-md-3">
                        <input asp-for="orderDate" id="orderDate" class="form-control" readonly />
                    </div>
                    <div class="col-md-2">
                        <input asp-for="orderOwnerEmployeeModel.persName" id="persName" class="form-control" readonly />
                    </div>
                    <div class="col-md-2">
                        <input hidden id="empLocation" asp-for="orderLocation.locationID" class="form-control" />
                        <input asp-for="orderLocation.locationName" id="locationName" class="form-control" readonly />
                    </div>
                    <div class="col-md-2">
                        <input value="Kaydet" class="btn btn-primary" id="submitForm" onclick="checkLoadedAmounts()"/>
                    </div>
                    <div class="col-md-2">
                        <input value="Parçalı Yükleme" class="btn btn-secondary" id="partialShipment" hidden onclick="createJson()"/>
                    </div> 
                 </div>
                <div class="row">
                    <table class="table table-striped table-curved table-row-height" style="font-size:0.8em" id="orderDetails">
                        <thead class="table-head">
                            <tr>
                                <th width="10">
                                    @Html.LabelFor(modelItem => Model.orderdetailsmodels.FirstOrDefault().orderLineNo)
                                </th>
                                <th width="15">
                                    @Html.LabelFor(modelItem => Model.orderdetailsmodels.FirstOrDefault().productID)
                                </th>
                                <th width="40">
                                    @Html.LabelFor(modelItem => Model.orderdetailsmodels.FirstOrDefault().ProductModel.ProductName)
                                </th>
                                <th width="10">
                                    @Html.LabelFor(modelItem => Model.orderdetailsmodels.FirstOrDefault().productAmount)
                                </th>
                                <th width="10">
                                    @Html.LabelFor(modelItem => Model.orderdetailsmodels.FirstOrDefault().loadedProductAmount)
                                </th>
                                <th width="15">
                                    <label>İşlem</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.orderdetailsmodels)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderLineNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductModel.productID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductModel.ProductName)
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.productAmount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style="height:25px", id = "productAmount" + item.orderLineNo } })
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.loadedProductAmount, new { htmlAttributes = new { @class = "form-control", @style = "height:25px", id = "loadedProductAmount" + item.orderLineNo } })
                                    </td>
                                    <td align="left">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.HiddenFor(model => model.personelID, new { @class = "form-control" })
                </div>
        </div>
    </div>
</form>
    <script>
        $(document).ready(function () {
            //       $("#entryForm").hide();
        });

        function checkLoadedAmounts() {
            var table = document.getElementById("orderDetails");
            var orderModelDetails = [];
            partialShipment = false;
            for (i = 1; i < table.rows.length; i++) {
                if (table.rows[i].cells[0].innerText.trim() != "") {
                    orderLineNo = table.rows[i].cells[0].innerText;
                    productID = table.rows[i].cells[1].innerText;
                    productAmount = document.getElementById("productAmount" + table.rows[i].cells[0].innerText).value;
                    loadedProductAmount = document.getElementById("loadedProductAmount" + table.rows[i].cells[0].innerText).value;
                    if (productAmount.trim() != loadedProductAmount.trim()) {
                        elem = document.getElementById("partialShipment");
                        elem.hidden = false;
                        alert("Yüklenen mikıtar ile sipariş miktarı arasında fark vardır. Parçalı yükleme için parçalı yükle tuşuna basınız");
                        partialShipment = true;
                    }
                }
            }
            if (!partialShipment) {
                var elem = document.getElementById("partialShipment");
                elem.click();
            }
        }

        function createJson() {
            var orderID = document.getElementById("orderID").value;
            var orderDate = document.getElementById("orderDate").value;
            var orderOwner = document.getElementById("personelID").value;
            var locationID = document.getElementById("empLocation").value;
            var jsObj = {
                orderID,
                orderDate,
                orderOwner,
                locationID
            };
            var table = document.getElementById("orderDetails");
            var orderModelDetails = [];
            for (i = 1; i < table.rows.length; i++) {
                if (table.rows[i].cells[0].innerText.trim() != "") {
                    orderLineNo=table.rows[i].cells[0].innerText,
                    productID= table.rows[i].cells[1].innerText,
                    productAmount= document.getElementById("productAmount" + table.rows[i].cells[0].innerText).value,
                    loadedProductAmount= document.getElementById("loadedProductAmount" + table.rows[i].cells[0].innerText).value
                    var obj = {
                        orderLineNo,
                        productID,
                        productAmount,
                        loadedProductAmount
                    }
                    orderModelDetails[i - 1] = obj;
                }
            }
            $.ajax({
                'url': 'LoadOrder',
                'type': 'POST',
                'data': {
                    'jsonSiparis': JSON.stringify(jsObj),
                    'jsonOrderDetails': JSON.stringify(orderModelDetails),
                },
                'success':function(response) {
                    window.location.href = '/SiparisModel/Load'
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });

        }


     </script>
