@model order_and_sales_management_ver1.Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-info">
    <h1>Fatura Yükleme</h1>
</div>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>
<hr />
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 10px;
    }
</style>
<form asp-action="Index">
    <div class="row">
        <div class="col-md-6">
            <input type="file" class="btn btn-primary" name="elementName" />
        </div>
        <div class="col-md-3">
            <input type="submit" formaction=@Url.Action("Index") formenctype="multipart/form-data" formmethod="post" class="btn btn-secondary" value="Fatura Yükle" />
        </div>
        <div class="col-md-3">
            <input type="submit" formaction=@Url.Action("Index") formmethod="post" class="btn btn-danger" value="Fiyatları Güncelle" />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-curved table-row-height" style="font-size:0.9em;height:30px">
            <tr>
                <th><label asp-for="suplier" style="height:25px" class="control-label"></label></th>
                <td>
                    <input asp-for="suplier" readonly="readonly" style="height:25px" class="form-control" />
                </td>
                <th> <label asp-for="partyId" style="height:25px" class="control-label"></label></th>
                <td>
                    <input asp-for="partyId" readonly style="height:25px" class="form-control" />
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="allowanceMultiplier" style="height:25px" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="allowanceMultiplier" readonly style="height:25px" class="form-control" />
                    <span asp-validation-for="allowanceMultiplier" class="text-danger"></span>
                </td>
                <th>
                    <label asp-for="allowanceAmount" style="height:25px" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="allowanceAmount" readonly style="height:25px" class="form-control" />
                    <span asp-validation-for="allowanceAmount" class="text-danger"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-curved table-row-height" style="font-size:0.9em;height:30px" id="sellersView">
            <thead class="table-head">
                <tr>
                    <th>
                        <label asp-for="invoiceLines[0].sellersIDForItem" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="invoiceLines[0].itemName" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="invoiceLines[0].itemDesc" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="invoiceLines[0].invoicedQuantity" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="invoiceLines[0].itemPrice" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th>
                        <label asp-for="invoiceLines[0].urunKodu" style="font-size:0.8em; height:25px" class="control-label"></label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model.invoiceLines)
            {
                <tr id=@item.orderID style="border-bottom: 1px solid #cdd0d4;">
                    <td>
                        <input asp-for=@item.sellersIDForItem readonly style="font-size:0.8em; height:25px" class="form-control" >
                    </td>
                    <td>
                        <input asp-for=@item.itemName style="font-size:0.8em; height:25px" readonly class="form-control">
                    </td>
                    <td>
                        <input asp-for=@item.itemDesc readonly style="font-size:0.8em; height:25px" class="form-control" >
                    </td>
                    <td>
                        <input asp-for=@item.invoicedQuantity style="font-size:0.8em; height:25px" readonly class="form-control" >
                    </td>
                    <td>
                        <input asp-for=@item.itemPrice readonly style="font-size:0.8em; height:25px" class="form-control" >
                    </td>
                    <td>
                        <input asp-for=@item.urunKodu style="font-size:0.8em; height:25px" class="form-control" id="urunKodu_@item.sellersIDForItem">
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" value="Ürün Ara" onclick="searchProductId('@item.itemDesc','@item.sellersIDForItem')" />
                    </td>
                </tr>

            }
        </table>
        <div id="searchView" title="Edit Data" hidden="hidden">
            <div class="row">
                <div class="col-md-6">
                    <input asp-for="product.ProductName" id="product" class="form-control" />
                </div>
                <div class="col-md-6">
                    <input type="button" value="Ürün Ara" class="btn btn-primary btn" onclick="getProducts()">
                    <input hidden="hidden" id="selectedRowForSearch" value="" />
                </div>
            </div>
            <table class="table table-striped table-curved table_data" style="font-size:0.7em" id="products">
                <thead class="table-head">
                    <tr>
                        <th>
                            @Html.DisplayName("Ürün Id")
                        </th>
                        <th>
                            @Html.DisplayName("Ürün Adı")
                        </th>
                        <th>@Html.DisplayName("Ürün Fiyatı")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script>
    function searchProductId(pName,urunKodu) {
        var rowToBeSearched = document.getElementById("selectedRowForSearch");
        rowToBeSearched.value = "urunKodu_" + urunKodu;
        var sellersView = document.getElementById("sellersView");
        sellersView.hidden = true;
        var seacthView = document.getElementById("searchView");
        searchView.hidden = false;
        var productName = document.getElementById("product");
        productName.value = pName;
        getProducts();
    }

    function fnSelect() {
        GetSelected();
    }

    function GetSelected() {
        //Reference the Table.
        var grid = document.getElementById("products");

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        message = "";
        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;

                var rowToBeSearched = document.getElementById("selectedRowForSearch");
                var cellID = rowToBeSearched.value;
                var cellToBeUpdate = document.getElementById(cellID);
                cellToBeUpdate.value = row.cells[0].innerHTML.trim();
                checkBoxes[i].checked = false;
                var sellersView = document.getElementById("sellersView");
                sellersView.hidden = false;
                var seacthView = document.getElementById("searchView");
                searchView.hidden = true;
            }
        }
    }

    function paginate() {
        var currentPage = 0;
        var numPerPage = 5;
        var $table = $('table.table_data');
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');
    }

    $('table.table_data').each(function () {
        var currentPage = 0;
        var numPerPage = 5;
        var $table = $(this);
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');
    });


    function dateToYMD(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1; //Month from 0 to 11
        var y = date.getFullYear();
        return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }

    function getProducts() {
        var filter = document.getElementById("product");
        $.ajax({
            'url': 'LoadInvoice/getProducts',
            'type': 'GET',
            'data': {
                'productName': filter.value,
            },
            'success': function (data) {
                var table = document.getElementById("products");
                var numofRows = table.rows.length;
                for (i = 0; i < data.length; i++) {
                    var row = table.insertRow(1);
                    var newCell1 = row.insertCell(0);
                    var newCell2 = row.insertCell(1);
                    var newCell3 = row.insertCell(2)
                    var newCell4 = row.insertCell(3);
                    newCell1.innerHTML = data[i].barcodeID;
                    newCell2.innerHTML = data[i].name;
                    newCell3.innerHTML = data[i].wholeSalePrice.toString();
                    newCell4.innerHTML = '<input type="checkbox" id="selected" onclick="fnSelect()" />'
                }
                var lastItem = table.rows.length - numofRows+1;
                for (i = table.rows.length - 1; i > lastItem; i--) {
                    table.deleteRow(i);
                }
                $(".pager").remove();
                paginate();
            },
            'error': function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
