@model IEnumerable<order_and_sales_management_ver1.Models.stocklocationmodel>

@{
    ViewData["Title"] = "Index";
}

<div class="panel-info">
    <h5>_Lokasyon Liste</h5>
</div>
<div class="col-md-2">
    @Html.ActionLink("Yeni Lokasyon Ekle", "Create", "stocklocationmodels", new { }, new { @class = "btn btn-primary  btn-sm btn-block", @style = "font-size:12px" })
</div>
<div class="col-md-10">
</div>
<div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped table-curved table-sm" style="font-size:0.7em">
        <thead class="table-head">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.locationName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.locationName)
                    </td>
                    <td align="right">
                        <a asp-action="Edit" asp-route-id="@item.locationID"><button type="button" class="btn btn-primary btn-sm">Düzenle</button></a>
                        <a asp-action="Details" asp-route-id="@item.locationID"><button type="button" class="btn btn-secondary btn-sm">Kaydı Görüntüle</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
