@model order_and_sales_management_ver1.Models.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxSchemeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxSchemeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowanceMultiplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowanceMultiplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowanceAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowanceAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountBeforeTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountBeforeTax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.suplier">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
