@model order_and_sales_management_ver1.Models.packedproductdetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>packedproductdetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.barcodProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.barcodProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.baseProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.baseProduct.baseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.packedProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.packedProduct.packedId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
