@model IEnumerable<Order_And_Sales_Management_ver1.Models.EmployeesModels>

@{
    ViewData["Title"] = "Index";
}
<div class="panel-info">
    <h1>Liste</h1>
    <p>
        <a asp-action="Create">Yeni Kayıt Ekle</a>
    </p>
</div>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>
<table class="table table-striped table-curved">
    <thead class="table-head">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.persName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.persSurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.persName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.persSurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empLocation.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td align="right">
                <a asp-action="Edit" asp-route-id="@item.personelID"><button type="button" class="btn btn-primary">Düzenle</button></a>
                <a asp-action="Details" asp-route-id="@item.personelID"><button type="button" class="btn btn-secondary">Kaydı Görüntüle</button></a>
                <a asp-action="Delete" asp-route-id="@item.personelID"><button type="button" class="btn btn-danger">Sil</button></a>
            </td>
        </tr>
        }
    </tbody>
</table>
