@model Order_And_Sales_Management_ver1.Models.ProductModel

@{
    ViewData["Title"] = "Görüntüleme";
}

<h1>Kayıt Görüntüleme Ekranı</h1>

<div>
    <h4>Ürün Tablosu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productBarcodeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productBarcodeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productRetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productRetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productWholesalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productWholesalePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productID">Kaydı Düzenle</a> |
    <a asp-action="Index">Liste Ekranına Geri Dönüş</a>
</div>
