@model order_and_sales_management_ver1.Models.baseproduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>baseproduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.retailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.retailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wholeSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wholeSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sellersID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sellersID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detailsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detailsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.baseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
