@model IEnumerable<order_and_sales_management_ver1.Models.baseproduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.retailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wholeSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellersID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.retailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wholeSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detailsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.baseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.baseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.baseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
