@model IEnumerable<Order_And_Sales_Management_ver1.Models.StockItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLocationModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLocationModel.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
