@model IEnumerable<order_and_sales_management_ver1.Models.LabelModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-info">
    <h1>Etiket Verileri Listesi</h1>
</div>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>
<hr/>
<p>
    <a asp-action="Create">Ekle/Güncelle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productContents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productBarcodID)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productContents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productBarcodID)
                </td>
                <td>
                    @Html.ActionLink("Yazdır", "Print", "LabelModels", new { id = item.productID }, new { @class = "btn btn-primary  btn-sm btn-block", @style = "font-size:12px", })
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Create", "LabelModels", new { id = item.productID }, new { @class = "btn btn-secondary  btn-sm btn-block", @style = "font-size:12px", })
                </td>
                <td>
                    @Html.ActionLink("Detaylar", "Details", "LabelModels", new { id = item.productID }, new { @class = "btn btn-secondary  btn-sm btn-block", @style = "font-size:12px", })
                </td>
                <td>
                    @Html.ActionLink("Sil", "Delete", "LabelModels", new { id = item.productID }, new { @class = "btn btn-danger  btn-sm btn-block", @style = "font-size:12px", })
                </td>
            </tr>
        }
    </tbody>
</table>
