@model order_and_sales_management_ver1.Models.packedproduct

@{
    ViewData["Title"] = "Liste";
}
<div class="panel-info">
    <h5>_ PAKETLİ ÜRÜN TANIMLAMA EKRANI</h5>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="alert alert-danger">
    @Html.ValidationSummary(true)
</div>
<div class="row container-fluid">
    <div class="col-sm-4">
        <h4>ÜRÜN SEÇİMİ</h4>
        <div class="row">
            <div class="col-md-6">
                <input type="text" id="product" class="form-control" />
            </div>
            <div class="col-md-6">
                <input type="submit" id="getProducts" value="Ürün Ara" class="btn btn-primary btn" onclick="getProducts()" />
            </div>
            <table class="table table-striped table-curved table_data" style="font-size:0.7em" id="products">
                <thead class="table-head">
                    <tr>
                        <th>
                            @Html.DisplayName("Ürün Kodu")
                        </th>
                        <th>
                            @Html.DisplayName("Ürün Adı")
                        </th>
                        <th>@Html.DisplayName("Perakende Fiyatı")</th>
                        <th>@Html.DisplayName("Toptan Fiyatı")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-8">
        <form asp-controller="packedproducts" asp-action="Create" method="post">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        PAKETLİ ÜRÜN
                    </h4>
                </div>
                <div class="col-md-6">
                    <h5>
                        @Html.EditorFor(Model => Model.packedProductName, new { htmlAttributes = new {  size = "40"} })
                        @Html.HiddenFor(Model => Model.packedId)
                        @Html.HiddenFor(Model=>Model.packedProductBarcodeID)
                    </h5>
                </div>
                <div class="col-md-3">
                    <input type="submit" asp-action="Create" id="kaydet" value="Kaydet/Güncelle" class="btn btn-primary btn" formmethod="post" />
                    <input asp-for=@Model.operation hidden type="text" value=@Model.operation />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.productRetailPrice)
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => Model.productRetailPrice)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => Model.productWholesalePrice)
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => Model.productWholesalePrice)
                </div>
            </div>
            <table id="packedDetails" class="table-striped table-curved" style="font-size:0.7em">
                <colgroup>
                    <col style="width:5%">
                    <col style="width:40%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:30%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                </colgroup>
                <thead class="table-head">
                    <tr>
                        <th>
                            @Html.LabelFor(modelItem => Model.packedProductDetails.ElementAt(0).baseId)
                        </th>
                        <th>
                            @Html.LabelFor(modelItem => Model.packedProductDetails.ElementAt(0).baseProduct.name)
                        </th>
                        <th>
                            @Html.LabelFor(modelItem => Model.packedProductDetails.ElementAt(0).baseProduct.retailPrice)
                        </th>
                        <th>
                            @Html.LabelFor(modelItem => Model.packedProductDetails.ElementAt(0).baseProduct.wholeSalePrice)
                        </th>
                        <th>
                            @Html.LabelFor(modelItem => Model.packedProductDetails.ElementAt(0).amount)
                        </th>
                        <th>
                            <label>Perakende Tutar</label>
                        </th>
                        <th>
                            <label>Toptan Tutar</label>
                        </th>
                        <th>
                            <label>İşlem</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model.packedProductDetails)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(modelItem => item.baseProduct.baseId, new { htmlAttributes = new { id = item.baseProduct.baseId, size="4", disabled = true} })
                                @Html.HiddenFor(modelItem => item.baseProduct.baseId, new { htmlAttributes = new { id = item.baseProduct.baseId, size = "4"} })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.baseProduct.name)
                            </td>
                            <td>
                                @Html.EditorFor(modelItem => item.baseProduct.retailPrice, new { htmlAttributes = new { id = "productRetailPrice" + item.baseProduct.baseId , size="4"} })
                            </td>
                            <td>
                                @Html.EditorFor(modelItem => item.baseProduct.wholeSalePrice, new { htmlAttributes = new { id = "productWholesalePrice" + item.baseProduct.baseId },size="4" })
                            </td>
                            <td>
                                @Html.EditorFor(modelItem => item.amount, new { htmlAttributes = new { id = "productAmount" + item.baseProduct.baseId, onblur = "calcTutar()" } })
                            </td>
                            <td>
                                <input class="text-box single-line" id="productRetailSum-@item.baseProduct.baseId" size="4" readonly value="0" />
                            </td>
                            <td>
                                <input class="text-box single-line" id="productWholesaleSum-@item.baseProduct.baseId" size= "4" readonly value="0" />
                            </td>
                            <td align="left">
                                <button type="button" class="btn-sm btn-block btn-danger" style="font-size:10px" onclick="deleteLine(@item.baseProduct.baseId)">Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        calcTutar();
    });

    function fnSelect() {
        GetSelected();
    }

    function getPersonelLocation() {
        var personelID = document.getElementById("empSelect");
        $.ajax({
            'url': 'getLocation',
            'type': 'GET',
            'data': {
                'employeeID': personelID.value,
            },
            'success': function (data) {
                var loc = document.getElementById("locationName");
                loc.value = data.locationName.trim();
                var loc = document.getElementById("empLocation");
                loc.value = data.locationID;
            },
            'error': function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });

    }
    function GetSelected() {
        //Reference the Table.
        var grid = document.getElementById("products");

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        message = "";
        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;
                var table = document.getElementById("packedDetails");
                var NewRow = table.insertRow(table.numofRows);
                var productID = NewRow.insertCell(0);
                var productName = NewRow.insertCell(1);
                var productRetailPrice = NewRow.insertCell(2);
                var productWholesalePrice = NewRow.insertCell(3);
                var productAmount = NewRow.insertCell(4);
                var productRetailSum = NewRow.insertCell(5);
                var productWholesaleSum = NewRow.insertCell(6);
                var actionBtn = NewRow.insertCell(7);
                productID.innerHTML = '<input class="text-box single-line" size ="4" name="item.baseProduct.baseId" disabled readonly value="' + row.cells[0].innerHTML.trim() + '" id="' + row.cells[0].innerHTML.trim() + '"/>';
                productID.innerHTML = productID.innerHTML + '<input id="item_baseProduct_baseId" name="item.baseProduct.baseId" type="hidden" value="' + row.cells[0].innerHTML.trim() + '" />';
                productName.innerHTML = row.cells[1].innerHTML.trim();
                productRetailPrice.innerHTML = '<input class="text-box single-line" size ="4" disabled readonly value="' + row.cells[2].innerHTML.trim() + '" id="productRetailPrice' + row.cells[0].innerHTML.trim() + '"/>';
                productWholesalePrice.innerHTML = '<input class="text-box single-line" size ="4" disabled readonly value="' + row.cells[3].innerHTML.trim() + '" id="productWholesalePrice' + row.cells[0].innerHTML.trim() + '"/>';
                productAmount.innerHTML = '<input class="text-box single-line" name="packedproductdetails.amount" onblur=calcTutar() id=productAmount' + row.cells[0].innerHTML.trim() + ' />';
                productRetailSum.innerHTML = '<input class="text-box single-line" size ="4" disabled readonly id="productretailSum-' + row.cells[0].innerHTML.trim() + '" value="0"/>';
                productWholesaleSum.innerHTML = '<input class="text-box single-line" size ="4" disabled  readonly id="productWholesaleSum-' + row.cells[0].innerHTML.trim() + '" value="0"/>';
                actionBtn.innerHTML = '<input type="submit" value="Sil" class="btn-sm btn-block btn-danger" style="font-size:10px" onclick="deleteLine(' + row.cells[0].innerHTML.trim() + ')" />'
                checkBoxes[i].checked = false;
            }
        }
    }

    function deleteLine(packedId) {
        var table = document.getElementById("packedDetails");
        i = 2
        while (table.rows[i].cells[0].children[0].value != packedId)
            i = i + 1
        table.deleteRow(i);
        calcTutar();
    }

    function calcTutar() {
        var table = document.getElementById("packedDetails");
        retailToplam = 0;
        wholesaleToplam = 0;
        i = 2
        for (i = 2; i < table.rows.length; i++) {
            var packedId = table.rows[i].cells[0].children[0].value;
            strAmount = document.getElementById("productAmount" + packedId).value.replace(',', '.');
            var floatAmount = parseFloat(strAmount);
            strPrice = document.getElementById("productRetailPrice" + packedId).value.replace(',', '.');
            var floatRetailPrice = parseFloat(strPrice).toFixed(2);
            retailTutar = (floatAmount * floatRetailPrice).toFixed(2);
            strPrice = document.getElementById("productWholesalePrice" + packedId).value.replace(',', '.');
            var floatWholesalePrice = parseFloat(strPrice).toFixed(2);
            wholesaleTutar = (floatAmount * floatWholesalePrice).toFixed(2);
            table.rows[i].cells[2].innerHTML = '<input class="text-box single-line" size="4" id="productRetailPrice' + packedId + '"disabled readonly value="' + floatRetailPrice.toLocaleString("tr-TR").replace(',', '.') + '"/>';
            table.rows[i].cells[3].innerHTML = '<input class="text-box single-line" size="4" id="productWholesalePrice' + packedId + '" disabled readonly value="' + floatWholesalePrice.toLocaleString("tr-TR").replace(',', '.') + '"/>';
            table.rows[i].cells[4].innerHTML = '<input class="text-box single-line" name="packedproductdetails.amount" id="productAmount' + packedId + '"onblur=calcTutar() value="' + floatAmount.toLocaleString().replace(',', '.') + '"/>';
            table.rows[i].cells[5].innerHTML = '<input class="text-box single-line" size="4" id="productRetailSum-' + packedId + '" disabled readonly value="' + retailTutar.toLocaleString("tr-TR").replace(',', '.') + '"/>';
            table.rows[i].cells[6].innerHTML = '<input class="text-box single-line" size="4" id="productWholesaleSum-' + packedId + '" disabled readonly value="' + wholesaleTutar.toLocaleString("tr-TR").replace(',', '.') + '"/>';
            retailToplam = retailToplam + parseFloat(retailTutar);
            wholesaleToplam = wholesaleToplam + parseFloat(wholesaleTutar);
        }
        retailToplam = retailToplam.toFixed(2);
        wholesaleToplam = wholesaleToplam.toFixed(2);
        table.rows[1].cells[5].innerHTML = '<input class="text-box single-line" disabled readonly size="4" value="' + retailToplam.toLocaleString("tr-TR").replace(',','.') + '"/>';
        table.rows[1].cells[6].innerHTML = '<input class="text-box single-line" disabled readonly size="4" value="' + wholesaleToplam.toLocaleString("tr-TR").replace(',', '.') + '"/>';
        var elem = document.getElementById("productRetailPrice");
        elem.value = retailToplam.toLocaleString("tr-TR");
        var elem = document.getElementById("productWholesalePrice");
        elem.value = wholesaleToplam.toLocaleString("tr-Tr");
    }


    function paginate() {
        var currentPage = 0;
        var numPerPage = 3;
        var $table = $('table.table_data');
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');


    }

    $('table.table_data').each(function () {
        var currentPage = 0;
        var numPerPage = 3;
        var $table = $(this);
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');


    });


    function dateToYMD(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1; //Month from 0 to 11
        var y = date.getFullYear();
        return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }

    function getProducts() {
        var filter = document.getElementById("product");
        $.ajax({
            'url': 'getProducts',
            'type': 'GET',
            'data': {
                'productName': filter.value,
            },
            'success': function (data) {
                var table = document.getElementById("products");
                var numofRows = table.rows.length;
                for (i = 0; i < data.length; i++) {
                    var row = table.insertRow(1);
                    var newCell1 = row.insertCell(0);
                    var newCell2 = row.insertCell(1);
                    var newCell3 = row.insertCell(2)
                    var newCell4 = row.insertCell(3);
                    var newCell5 = row.insertCell(4);
                    newCell1.innerHTML = data[i].baseId;
                    newCell2.innerHTML = data[i].name;
                    newCell3.innerHTML = data[i].retailPrice.toString();
                    newCell4.innerHTML = data[i].wholeSalePrice.toString();
                    newCell5.innerHTML = '<input type="checkbox" id="selected" onclick="fnSelect()" />'
                }
                var lastItem = table.rows.length - numofRows+1;
                for (i = table.rows.length - 1; i > lastItem; i--) {
                    table.deleteRow(i);
                }
                $(".pager").remove();
                paginate();
            },
            'error': function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
