@model order_and_sales_management_ver1.Models.packedproduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-info">
    <h1>Kaydı Silmek İstediğinizden emin misiniz?</h1>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="alert alert-danger">
    @Html.ValidationSummary(false)
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.packedProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.packedProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barcodeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barcodeID)
        </dd>
        @foreach (var item in Model.packedProductDetails)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.baseProduct.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.baseProduct.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.amount)
            </dd>
        }
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="packedId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Liste</a>
    </form>
</div>
