@model Order_And_Sales_Management_ver1.Models.UretimGiris

@{
    ViewData["Title"] = "Liste";
}
    <div class="panel-info">
        <h1>Üretim Giriş Ekranı</h1>
        <h4>Stok Tablosu</h4>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="alert alert-danger">
  @Html.ValidationSummary(false)
</div>
<form asp-controller="UretimGiris" asp-action="Giris" method="get">
    <div class="row">
        <div class="col-md-2">
            <label asp-for="productName" class="control-label"></label>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="productName" id="product" class="form-control" />
            <span asp-validation-for="productName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <input type="submit" id="getProducts" value="Filtrele" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table table-striped table-curved table_data" id="products">
    <thead class="table-head">
        <tr>
            @if (Model.products.Count > 0)
            {
                <th>
                    @Html.DisplayName("Ürün Id")
                </th>
                <th>
                    @Html.DisplayName("Ürün Adı")
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <input type="checkbox" id="selected" onclick="fnSelect()" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="entryForm">
    <hr />
        <div class="row">
            <div class="col-md-1">
                <label asp-for="productName" class="control-label"></label>
            </div>
            <div class="col-md-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="productName" id="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="col-md-1">
                <label asp-for="productionLotID" class="control-label"></label>
            </div>
            <div class="col-md-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="productionLotID" id="productionLotID" class="form-control" />
                <span asp-validation-for="productionLotID" class="text-danger"></span>
            </div>
            <div class="col-md-1">
                <label asp-for="stockAmount" class="control-label"></label>
            </div>
            <div class="col-md-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="stockAmount" id="stockAmount" class="form-control" />
                <span asp-validation-for="stockAmount" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Kaydet" class="btn btn-primary" onclick="checkRecord()"/>
            </div>
            <input asp-for="productID" id="productID" class="form-control" hidden="hidden" />
        </div>
</div>
<script>
    $(document).ready(function () {
       $("#entryForm").hide(); 
    });

    function fnSelect() {
        GetSelected();
    }
    function GetSelected() {
        //Reference the Table.
        var grid = document.getElementById("products");

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        message = "";
        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var row = checkBoxes[i].parentNode.parentNode;
                $("#productName").val(row.cells[1].innerHTML.trim());
                $("#productID").val(row.cells[0].innerHTML.trim());
            }
        }
        $("#entryForm").show();
        var date = new Date();
        var dateString = dateToYMD(date);
        $("#productionLotID").val(dateString);
        $("#productionLotID").select();
    }

    $('table.table_data').each(function () {
        var currentPage = 0;
        var numPerPage = 5;
        var $table = $(this);
        $table.bind('repaginate', function () {
            $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        });
        $table.trigger('repaginate');
        var numRows = $table.find('tbody tr').length;
        var numPages = Math.ceil(numRows / numPerPage);
        var $pager = $('<div class="pager"></div>');
        for (var page = 0; page < numPages; page++) {
            $('<span class="page-number"></span>').text(page + 1).bind('click', {
                newPage: page
            }, function (event) {
                currentPage = event.data['newPage'];
                $table.trigger('repaginate');
                $(this).addClass('active').siblings().removeClass('active');
            }).appendTo($pager).addClass('clickable');
        }

        $pager.insertAfter($table).find('span.page-number:first').addClass('active');


    });

    function dateToYMD(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1; //Month from 0 to 11
        var y = date.getFullYear();
        return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
    }

    function checkRecord() {
        var prodID = document.getElementById("productID");
        var lotID = document.getElementById("productionLotID");
        var prodName = document.getElementById("productName");
        var stockAmount = document.getElementById("stockAmount");
        var action = "newEntry";

        $.ajax({
            'url' : 'StockItemExists',
            'type' : 'GET',
            'data' : {
             'prodID': prodID.value,
             'lotID': lotID.value
            },
            'success': function (data) {    
                if (data == true) {
                    if (confirm("Kayıt Daha Önce girilmiş. Güncellemek mi istiyorsunuz?")) {
                        action = "update"
                    } else {
                        action = "doNothing"
                    }
                }
			    $.ajax({
				    'url': 'Giris',
				    'type': 'POST',
				    'data': {
					    'productID': prodID.value,
					    'ProductName': prodName.Value,
					    'productionLotID': lotID.value,
					    'stockAmount': stockAmount.value,
					    'action': action
				    },
                    'success': function (data) {
                        location.reload(); 
				    },
				    'error': function (request, error) {
					    alert("Request: " + JSON.stringify(request));
				    }
			    });
            },
            'error' : function(request,error)
            {
                alert("Request: "+JSON.stringify(request));
            }
        });
    }

</script>